PORT=5000
MONGO_URI=your_mongodb_connection_string
ACCESS_TOKEN_SECRET=your_access_secret
REFRESH_TOKEN_SECRET=your_refresh_secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=xjBjSf9uRkEjmzd5